.title-bookmarklet {
  line-height: 1.5em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.play-bookmarklet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.05em;
  margin-top: 8px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #616161;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.play-bookmarklet:hover {
  transform: scale(1.05);
}
