@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

footer {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f1f1f;
  padding: 5px 20px;
  height: 25px;
}

.copyright {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

nav a {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 10px; 
  margin-right: 10px;
  transition: color 0.3s ease;
}

nav a:hover {
 color: #ff0000;
}
