@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

header {
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f1f1f;
  padding: 5px 20px;
  height: 25px;
}

.title {
  font-family: 'Gasoek One', sans-serif;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.title img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

nav {
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

nav a {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 10px; 
  margin-right: 10px;
  transition: color 0.3s ease;
}

nav a:hover {
 color: #ff0000;
}

iframe {
  background-color: #fff;
}

/* hide controls for easter egg videos */
video.hidden-controls::-webkit-media-controls {
  display: none;
}