@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

body {
  background-color: #0e0e0e;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.title-index {
  line-height: 0.01em;
  text-transform: uppercase;
  font-family: 'Gasoek One', sans-serif;
  text-align: center;
  font-size: 3em;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

.desc {
  line-height: 1.5em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.buttons-container {
    margin-top: 20px;
}

.button-row {
    margin-bottom: 10px;
}

.play-btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.05em;
    min-width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #616161;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    margin-right: 10px;
    margin-bottom: 10px;
}

.play-btn:hover {
    background-color: #444;
    transform: scale(1.05);
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* hide controls for easter egg videos */
video.hidden-controls::-webkit-media-controls {
  display: none;
}
